body {
    margin: 0;
    font-family: arial, sans-serif;
}

html {
    scroll-behavior: smooth;
}

/*navbar*/
.navbar {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: "brand menu1 menu2 menu3";
    align-items: center;
    height: 40px;
    background-color: #2563eb;
    color: white;
    border-radius: 10px;
    padding: 0 15px;
    text-align: center;
}

.brand {
    text-align: left;
    padding: 5px;
    font-weight: 500;
}

.menu-header{
    grid-area: menu1;
    text-decoration: none;
    color: white;
    
}

.menu-bio {
    grid-area: menu2;
    color: white;
    text-decoration: none;
}

.menu-porto {
    grid-area: menu3;
    color: white;
    text-decoration: none;
}

/* link menu navbar */
.menu-navbar {
    color: white;
    text-decoration: none;
}


/* container header */
.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "header-text" "header-img";
    gap: 10px;
    place-items: center;
}

.header-text {
    grid-area: header-text;
    padding: 10px;
    text-align: center;
}

.header-text button {
    grid-area: header-img;
    padding: 10px;
    background: #2563eb;
    border-radius: 10px;                        /*membuat ujung boder melengung*/
}

.header img {
    grid-area: header-img;
    margin: 40px;
    width: 300px;
    height: 300px;
    border-radius: 5px;
    padding: 10px;
    background-color: #ccc;
}

                    /* about me */
.about {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "tittle tittle tittle"
                         "desc desc desc"
                         "name educ pekerjaan"
                         "contact hobi alamat";
    justify-items: center;
    gap: 10px;
    text-align: center;
    padding: 0 15px;
    border-top: 2px solid #ccc;
    padding-top: 10px;
    padding-bottom: 20px;
}

.about-title {
    grid-area: tittle;
    color: blue;
}

.about-description {
    grid-area: desc;
    
}

.data1 {
    grid-area: name;
    background: #cdcdcd;
    padding: 10px;
    width: 95%;
    border-radius: 5px;                     
}

.data2 {
    grid-area: educ;
    background-color: #cdcdcd;
    padding: 10px;
    width: 95%;
    border-radius: 5px;
}

.data3 {
    grid-area: pekerjaan;
    background-color: #cdcdcd;
    padding: 10px;
    width: 95%;
    border-radius: 5px;
}

.data4 {
    grid-area: contact;
    background-color: #cdcdcd;
    padding: 10px;
    width: 95%;
    border-radius: 5px;
}

.data5 {
    grid-area: hobi;
    background-color: #cdcdcd;
    padding: 10px;
    width: 95%;
    border-radius: 5px;
}

.data6 {
    grid-area: alamat;
    background-color: #cdcdcd;
    padding: 10px;
    width: 95%;
    border-radius: 5px;
}

.label {
    color: blue;
    margin: 0;
}


                    /* portofolio */
.portofolio {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "porto porto porto"
                         "img1 img2 img3"
                         "desc1 desc2 desc3";
    gap: 10px;
    text-align: center;
    border-top: 2px solid #ccc;
    padding-top: 10px;
}

.tittle-porto{
    grid-area: porto;
    color: blue;
}

.gambar-1 {
    grid-area: img1;
}

.gambar-2 {
    grid-area: img2; 
}

.gambar-3 {
    grid-area: img3;
}

.dessc-img1 {
    grid-area: desc1;
}

.desc-img2 {
    grid-area: desc2;
}

.desc-img3 {
    grid-area: desc3;
}